$theme-colors: (
        "primary": #be123c,
        "secondary": #4c1d95,
        "success": #28a745,
        "info": #a21caf,
        "warning": #ffc107,
        "danger": #dc3545,
        "light": #f8f9fa,
        "dark": #343a40
);

a{
  text-decoration: none !important;
  cursor: pointer;
}

.image-slider-item-content {
  position: absolute;
  inset: 0;
  z-index: 9;
  background-color: #6c757d;
  opacity: 0;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.image-slider-item {
  position: relative;
}

.image-slider-item:hover {
  .image-slider-item-content {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.8;
  }
}

$pagination-active-color: #fff;
$pagination-active-bg: #be123c;
$pagination-color: #be123c;
$pagination-focus-box-shadow: 0 0 0 0.2rem rgb(190, 18, 60);

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 215px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);


  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 0.5);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 90%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, rgba(4, 69, 114, 0.3) 100%);
      }

      -webkit-filter: grayscale(0.5);
      -moz-filter: grayscale(50%);
      -ms-filter: grayscale(50%);
      -o-filter: grayscale(50%);
      filter: grayscale(50%)

    }
  }


  .card-footer {
    background: none;
    border-top: none;

    .media {
      img {
        border: solid 3px rgba(255, 255, 255, 0.3);
      }
    }
  }

  .card-meta {
    color: #26BD75
  }

  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(35, 79, 109);
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgba(69, 95, 113, 0.5) 100%);
  }
}

.active {
  font-weight: bold !important;
  color: #be123c !important;
}

.cursor-pointer {
  cursor: pointer;
}

.categories-list {
  max-height: 400px;
  overflow: auto;
  li:hover {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #eeeeee;
  }

  li.active {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(190, 18, 60, 0.5);
    color: #fff;
  }

  @media (max-width: 1024px) {
    max-height: 200px;
  }
}

.header {
  min-height: 50vh;
  padding: 0;
  position: relative;
  margin-bottom: 50px;
}

.header-content {
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 80%;
  }
}

.header-quote {
  transform: translate(50%, 0);
  @media screen and (max-width: 1024px) {
    transform: translate(0, 0);
  }
}

.bg-white-nav-toggle{
  @media screen and (max-width: 1024px) {
    background: #fff;
    .navbar-brand {
      color: #000 !important;
    }
    li {
      a:not(.active) {
        color: #000 !important;
      }
    }
  }
}
.transparent-nav {
  transition: all 0.5s ease-in-out;

  .navbar-brand {
    color: #fff;
  }

  li {
    a:not(.active) {
      color: #fff;
    }
  }
}

.riwaya-nav {
  li {
    a:hover {
      color: #be123c !important;
    }
  }
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 9;
}

.box {
  position: relative;
  padding: 1em;
}

.box:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  right: 0;
  top: 0;
  background: #be123c;
}

.scroll-to-top {
  position: fixed;
  bottom: 1em;
  left: 1em;
  background: #cccccc;
  padding: 15px;
  color: #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    color: #fff !important;
  }
}

.fs-7 {
  font-size: 0.7rem;
}

.active-pill{
  background:#be123c;
  color: #fff !important;
  font-weight: bold;
}

.footer{
  a{
    text-decoration: none;
    color: #000000;
    &:hover{
      color: #be123c;
    }
  }
}


@import "bootstrap/scss/bootstrap";
@import 'react-bootstrap-sidebar-menu/dist/sidebar-menu.scss';