$theme-colors: (
        "primary": #be123c,
        "secondary": #2c3e50,
        "success": #28a745,
        "info": #6C63FF,
        "warning": #ffc107,
        "danger": #dc3545,
        "light": #f8f9fa,
        "dark": #343a40
);

a{
  text-decoration: none !important;
  cursor: pointer;
}

.image-slider-item-content {
  position: absolute;
  inset: 0;
  z-index: 9;
  background-color: #6c757d;
  opacity: 0;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.image-slider-item {
  position: relative;
}

.image-slider-item:hover {
  .image-slider-item-content {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.8;
  }
}

$pagination-active-color: #fff;
$pagination-active-bg: #be123c;
$pagination-color: #be123c;
$pagination-focus-box-shadow: 0 0 0 0.2rem rgb(190, 18, 60);

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 215px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);


  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 0.5);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 90%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, rgba(4, 69, 114, 0.3) 100%);
      }

      -webkit-filter: grayscale(0.5);
      -moz-filter: grayscale(50%);
      -ms-filter: grayscale(50%);
      -o-filter: grayscale(50%);
      filter: grayscale(50%)

    }
  }

  .card-footer {
    background: none;
    border-top: none;

    .media {
      img {
        border: solid 3px rgba(255, 255, 255, 0.3);
      }
    }
  }

  .card-meta {
    color: #26BD75
  }

  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(35, 79, 109);
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgba(69, 95, 113, 0.5) 100%);
  }
}

.active {
  font-weight: bold !important;
  color: #be123c !important;
}

.cursor-pointer {
  cursor: pointer;
}

.categories-list {
  max-height: 400px;
  overflow: auto;
  li:hover {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #eeeeee;
  }

  li.active {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(190, 18, 60, 0.5);
    color: #fff;
  }

  @media (max-width: 1024px) {
    max-height: 200px;
  }
}

.header {
  min-height: 50vh;
  padding: 0;
  position: relative;
  margin-bottom: 50px;
}

.header-content {
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 80%;
  }
}

.header-quote {
  transform: translate(50%, 0);
  @media screen and (max-width: 1024px) {
    transform: translate(0, 0);
  }
}

.bg-white-nav-toggle{
  @media screen and (max-width: 1024px) {
    background: #fff;
    .navbar-brand {
      color: #000 !important;
    }
    li {
      a:not(.active) {
        color: #000 !important;
      }
    }
  }
}
.transparent-nav {
  transition: all 0.5s ease-in-out;

  .navbar-brand {
    color: #fff;
  }

  li {
    a:not(.active) {
      color: #fff;
    }
  }
}

.riwaya-nav {
  li {
    a:hover {
      color: #be123c !important;
    }
  }

}
.content{
  margin-top: 100px !important;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 9;
}

.box {
  position: relative;
  padding: 1em;
}

.box:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  right: 0;
  top: 0;
  background: #be123c;
}

.scroll-to-top {
  position: fixed;
  bottom: 1em;
  left: 1em;
  background: #be123c;
  padding: 15px;
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;

  &:hover {
    scale: 1.05;
    color: #fff !important;
  }
}

.fs-7 {
  font-size: 0.7rem;
}

.active-pill{
  background:#be123c;
  color: #fff !important;
  font-weight: bold;
}

.footer{
  a{
    text-decoration: none;
    color: #000000;
    &:hover{
      color: #be123c;
    }
  }
}
.book {
  --color: #be123c;
  --duration: 6.8s;
  width: 60px;
  height: 24px;
  position: relative;
  margin: 32px 0 0 -25px;
  //Demo
  zoom: 1.5;
  .inner {
    width: 32px;
    height: 12px;
    position: relative;
    transform-origin: 2px 2px;
    transform: rotateZ(-90deg);
    animation: book var(--duration) ease infinite;
    .left,
    .right {
      width: 60px;
      height: 4px;
      top: 0;
      border-radius: 2px;
      background: var(--color);
      position: absolute;
      &:before {
        content: '';
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background: inherit;
        position: absolute;
        top: -10px;
        left: 6px;
      }
    }
    .left {
      right: 28px;
      transform-origin: 58px 2px;
      transform: rotateZ(90deg);
      animation: left var(--duration) ease infinite;
    }
    .right {
      left: 28px;
      transform-origin: 2px 2px;
      transform: rotateZ(-90deg);
      animation: right var(--duration) ease infinite;
    }
    .middle {
      width: 32px;
      height: 12px;
      border: 4px solid var(--color);
      border-top: 0;
      border-radius: 0 0 9px 9px;
      transform: translateY(2px);
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 0;
    li {
      height: 4px;
      border-radius: 2px;
      transform-origin: 100% 2px;
      width: 48px;
      right: 0;
      top: -10px;
      position: absolute;
      background: var(--color);
      transform: rotateZ(0deg) translateX(-18px);
      animation-duration: var(--duration);
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      $i: 0;
      @while $i < 19 {
        &:nth-child(#{$i}) {
          animation-name: page-#{$i};
        }
        $i: $i + 1;
      }
    }
  }
}

$i: 0;
@while $i < 19 {
  $delay: $i * 1.86;
  $delay-after: $i * 1.74;
  @keyframes page-#{$i} {
  #{4 + $delay}% {
  transform: rotateZ(0deg) translateX(-18px);
}
  #{13 + $delay-after}%,
  #{54 + $delay}% {
    transform: rotateZ(180deg) translateX(-18px);
  }
  #{63 + $delay-after}% {
    transform: rotateZ(0deg) translateX(-18px);
  }
}
$i: $i + 1;
}

@keyframes left {
  4% {
    transform: rotateZ(90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(90deg);
  }
}

@keyframes right {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
  }
  46%,
  54% {
    transform: rotateZ(-90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
  }
  96% {
    transform: rotateZ(-90deg);
  }
}

@keyframes book {
  4% {
    transform: rotateZ(-90deg);
  }
  10%,
  40% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  40.01%,
  59.99% {
    transform-origin: 30px 2px;
  }
  46%,
  54% {
    transform: rotateZ(90deg);
  }
  60%,
  90% {
    transform: rotateZ(0deg);
    transform-origin: 2px 2px;
  }
  96% {
    transform: rotateZ(-90deg);
  }
}






@import "bootstrap/scss/bootstrap";
@import 'react-bootstrap-sidebar-menu/dist/sidebar-menu.scss';