.rounded-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

.gap-0{
    gap: 0;
}
.gap-1{
    gap: 0.25rem;
}
.gap-2{
    gap: 0.5rem;
}

.gap-3{
    gap: 1rem;
}

.gap-4{
    gap: 2rem;
}

.gap-5{
    gap: 3rem;
}

@media (min-width: 576px) {
    .gap-sm-0{
        gap: 0 !important;
    }
    .gap-sm-1{
        gap: 0.25rem;
    }
    .gap-sm-2{
        gap: 0.5rem;
    }
    .gap-sm-3{
        gap: 1rem;
    }
    .gap-sm-4{
        gap: 2rem;
    }
    .gap-sm-5{
        gap: 3rem;
    }
}

@media (min-width: 768px) {

    .gap-md-0{
        gap: 0;
    }
    .gap-md-2{
        gap: 0.5rem;
    }
    .gap-md-3{
        gap: 1rem;
    }
    .gap-md-4{
        gap: 2rem;
    }
    .gap-md-5{
        gap: 3rem;
    }
}

@media (min-width: 992px) {
    .gap-lg-0{
        gap: 0 !important;
    }
    .gap-lg-1{
        gap: 0.25rem;
    }
    .gap-lg-2{
        gap: 0.5rem;
    }
    .gap-lg-3{
        gap: 1rem;
    }
    .gap-lg-4{
        gap: 2rem;
    }
    .gap-lg-5{
        gap: 3rem;
    }
}