
@font-face {
  font-family: 'Gulzar';
  src: url('fonts/Amiri/Amiri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Gulzar', serif !important;
}
